           {#include file="admin/tema/header.htm"#}
  

<table class="table table-bordered" cellpadding=0 cellspacing=10>
	<tr>
		<th> Nombre</th>
		<th> Editar</th>
		<th> Eliminar</th>

	</tr>
	{#foreach from=$categorias item=$categoria#}
		<tr>
            <td>{#$categoria->nombre#}</td>
          
                 <td>
                     <a href="{#base_url()#}admin/categfoo/editar_categfoo/{#$categoria->id_categfoo#}" class="btn btn-warning">Editar</a> <br />                        
                 </td>
                 <td>
                     <a href="{#base_url()#}admin/categfoo/borrar_categfoo/{#$categoria->id_categfoo#}" class="btn btn-danger">Eliminar</a> <br />                        
                 </td>

		</tr>
	{#/foreach#}
</table>

<p><a href="{#base_url()#}admin/categfoo/crear_categfoo" class="btn btn-info">Crear Nueva Categoria</a> 
           {#include file="admin/tema/footer.htm"#}
