{#include file="admin/tema/header.htm"#}

<p>Agregar Noticia Destacada  para la pocision No: {#$pos#}</p><br>


{#form_open(current_url())#}

      <p>
            {#form_label('Escoja la noticia que desea convertir a Destacada', 'notidesta')#} <br />
            {#form_dropdown($notidesta, $notidestas)#}<div id="error">{#form_error('notidesta')#}</div><br>
      </p>

      {#form_hidden(['pos'=>$pos])#}

      <p>{#form_submit($button)#}</p>

{#form_close()#}

{#include file="admin/tema/footer.htm"#}
